{% extends 'base_generic.html' %}

{% block page_content %}

{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        Tu nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.
    </div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <div class="alert alert-warning" role="alert">
    Su cuenta no tiene acceso a esta página. 
        Para continuar, inicie sesión con una cuenta que tenga acceso.
    </div>
        
    {% else %}
        <p> Por favor inicie sesión para ver esta página</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="login">
                {% if error_message %}
                    <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                {% endif %}
                <div class="form-group clearfix">
                    <label for="username" class="control-label text-right">Nombre de usuario:</label>
                    <input name="username" type="text" class="form-control" required/>
                </div>
                <div class="form-group clearfix">
                    <label for="password" class="control-label text-right">Contraseña:</label>
                    <input name="password" type="password" class="form-control" required/>
                </div>
                <br>

                <button type="submit" value="login" class="btn btn-primary btn-block">Aceptar </button>
                <input type="hidden" name="next" value="{{next}}" />
 
         <p><a href="{% url 'password_reset' %}">Olvidé contraseña.</a></p>
    </div>
</form>

{# Asume que #}


{% endblock page_content %}