{% extends 'base_generic.html' %}

{% block title%}
    Predios por cliente
{% endblock %}

{% block page_content %}
    <br>
    <h3>Predios de {{cliente.nombre}}</h3>

    <div class="accordion" id="accordionExample">
        {% for predio in predios %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{predio.id}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#predio{{predio.id}}" aria-expanded="false" aria-controls="predio{{predio.id}}">
                    {{predio}}
                </button>
            </h2>
            <div id="predio{{predio.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{predio.id}}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {% if pilas %}
                    <table class="table table-borderless table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Pila</th>
                            <th scope="col">Fecha de creación</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Visitado</th>
                        </tr>
                        </thead>
                        <tbody>
                            {%for pila in pilas%}
                                {% if pila.predio.nombre == predio.nombre %}
                                    <tr onclick="window.location='{% url 'app:mediciones-pila' pila.id %}';">
                                        <td>{{ pila.nombreID }}</td>
                                        <td>{{pila.fecha_creacion}}</td>
                                        <td>{{materia.estado}}</td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                            {%endfor%}
                        </tbody>
                    </table>
                    {% else %}
                    <h4>Predio sin pilas</h4>
                    {% endif %}

                </div>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-warning" role="alert">
        <h5>No existen predios/pilas registradas</h5>
        </div>
        
        {% endfor %}
</div>
{% endblock page_content %}