<!DOCTYPE html>
<html lang="es">
  <head>    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
      {% endblock %}
    </title>
    {% load static %}
    {% load filter_group %}  
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" >
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/jquery-3.5.1.js' %}"></script>
    <script src="{% static '/js/Chart.js' %}"></script>

     
  </head>
  <body>
    {% block navbar %}
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
          <a class="navbar-brand" href="{% url 'appremoto:clienteIndex' %}">SFPC</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% if user.is_authenticated %}
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
              {% if user|has_group:'Cliente' %}
              <li class="nav-item">
                <a class="nav-link" href="/app/registros">Registros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'app:all-charts' %}">Grafico</a>
              </li>
              {% endif %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"  aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              
            </ul>
          </div>
          {%endif%}
        </div>
        {% if user.is_authenticated%}
          {% if user|has_group:'Administrador' %}
            <span class="navbar-text">Administrador: {{ user.get_username }}</span>
          {% elif user|has_group:'Cliente'%}
            <span class="navbar-text">Cliente: {{ user.get_username }}</span>
          {% elif user|has_group:'Fiscalizador'%}
            <span class="navbar-text">Fiscalizador: {{ user.get_username }}</span>
          {% endif %}
          <a class="nav-link" href="{% url 'logout'%}">Cerrar sesión</a>
        {% else %}
          <a class="nav-link" href="{% url 'login'%}">Iniciar sesión</a>
        {% endif %} 
      </nav>
    {% endblock %}
    
    {% block content %}
      <div class="container">
        {% block page_content %}
        {% endblock %}
      </div>
    {% endblock %}
    <br>

    <footer class="footer">
        <p class="text-center">
            Sistema de Fiscalización de Procesos de Compostaje. Autor: Francisco Flores
            <a href="mailto:ffloresm@udec.cl">ffloresm@udec.cl</a>
        </p>
        </footer>
  </body>
</html>