{% extends "base_generic.html" %}

{% block title %}
	GRAFICO PILA {{ pila.nombre.ID}}
{% endblock %}

{% block page_content %}
<br>
<h4 class="text-center">Temperaturas Pila {{pila.nombreID}}</h4>
<canvas id="temp" width="400" height="200"></canvas>

<h4 class="text-center">Humedad Pila {{pila.nombreID}}</h4>
<canvas id="hum" width="400" height="200"></canvas>
<script>
var ctx = document.getElementById('temp').getContext('2d');
var ctx1 = document.getElementById('hum').getContext('2d');
var tempChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ dias }},
        datasets: [{
            label: 'Temperatura',
            data: {{ temps }},
            borderColor: "rgb(255,0,0)",
            fill: false,
            lineTension: 0
        },
        {
            label: "55°C",
            borderColor: "rgb(0,0,0)",
            data: {{ FF }},
            borderDash: [5, 5],
            fill: false,
            lineTension: 0,
            radius: 0
        }]
    },
    options: {
        title: {
            display: true,
            text: 'Evolución de Temperatura'
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'días'
                }
            }],
            yAxes: [{
                display: true,
                position: 'left',
                scaleLabel: {
                    display: true,
                    labelString: 'Temperatura (°C)',
                },
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
var humChart = new Chart(ctx1, {
    type: 'line',
    data: {
        labels: {{ dias }},
        datasets: [{
            label: "Humedad",
            borderColor: "rgb(0,0,255)",
            data: {{ humedad }},
            fill: false,
            lineTension: 0
        }]
    },
    options: {
        title: {
            display: true,
            text: 'Evolución de Humedad'
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'días'
                }
            }],
            yAxes: [{
                //type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                display: true,
                position: 'left',
                scaleLabel: {
                    display: true,
                    labelString: 'Humedad (%)',
                },
                ticks: {
                    max: 100,
                    min: 0,
                    stepSize: 10
                },
                id: 'y-axis-1'
			}]
        }
    }
});
</script>

{% endblock %}