{% extends "base_generic.html" %}

{% block title %}
	GRAFICOS
{% endblock %}

{% block page_content %}
    <br>
    <h4 class="text-center">Gráficos de Registros</h4>
    <canvas class="fondo-blanco" id="myChart" width="400" height="200"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],
        datasets: [
            {% for k,v in temps.items  %}
            {
                label: "{{ k }}",
                data: {{ v }},
                borderColor: "rgb(255,0,0)",
                fill: false,
                lineTension: 0
            },
            {% endfor %}
            {
                label: "55°C",
                borderColor: "rgb(0,0,0)",
                data: {{ FF }},
                borderDash: [5, 5],
                fill: false,
                lineTension: 0,
                radius: 0
            }
        ]
    },
    options: {
        title: {
            display: true,
            text: 'Evolución de Temperatura y Humedad'
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'días'
                }
            }],
            yAxes: [{
                display: true,
                position: 'left',
                scaleLabel: {
                    display: true,
                    labelString: 'temperatura (°C)',
                },
                ticks: {
                    max: 80,
                    min: 0,
                    stepSize: 10
                }
            }]
        }
    }
});
</script>

{% endblock %}